<!--
<!DOCTYPE html>
<html>
<head>
	<title>Mario Says: </title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<h1>Mario Says: Car</h1>
  <h3>Your name:  </h3>
  <h3>Score:  </h3>
  <p>Mario is running here</p>
    <p>It's ok! <a href="http://google.com"> Click here for demonstrations!</a></p>
    
</body>
</html>
-->
<!--
<div class="boxed">
  This text is enclosed in a box.
</div>
-->

<!DOCTYPE html>
<html>
<head>
  <title>Mario Says: </title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div class="container">
    <div class="nav">
<!--      <h3>Mario Says:</h3>-->
        <h3>Time Remaining:</h3>
    </div>
    <div class="main">
      <h1>Name: </h1>
        <h3>Score:</h3>
    </div>
  </div>
</body>
</html>
